name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-musl

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Release
        uses: ./.github/actions/rlsr
        with:
          config: rlsr.yml
          publish: true
          rm_dist: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
